USE [SocialChimishod]
GO
/****** Object:  StoredProcedure [dbo].[UpdatePeopleNormalQuest]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[UpdatePeopleNormalQuest]
AS
BEGIN
	
	UPDATE [dbo].[Quest]
	SET [dbo].[Quest].Mean_Score = Result.Total / Result.PersonCount
	FROM
		( SELECT QuestTable.QuestNumber,
           Processed.PersonCount,
           Processed.Total
   FROM (
           (SELECT DISTINCT QuestNumber,
                            PersonCount = COUNT(*),
                            Total = SUM(Score)
            FROM [SocialChimishod].[dbo].[QuestScore]
            GROUP BY QuestNumber) Processed
         INNER JOIN
           (SELECT *
            FROM Quest) QuestTable ON Processed.QuestNumber = QuestTable.QuestNumber)) RESULT
	WHERE [dbo].[Quest].QuestNumber = Result.QuestNumber
END

GO
/****** Object:  Table [dbo].[AchievedCodeGift]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AchievedCodeGift](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CodeGiftID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[AchievedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_AchievedCodeGift] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Answer]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[Liked] [bit] NULL,
	[Dislike] [bit] NULL,
	[YesState] [bit] NULL,
	[NoState] [bit] NULL,
	[IsReported] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Answer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClientApplicationState]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientApplicationState](
	[ID] [int] NOT NULL,
	[ClientVersionInfo] [int] NOT NULL,
	[IsMajorVersion] [bit] NOT NULL,
	[CreateQuestionPrice] [int] NOT NULL,
	[WatchAdCoin] [int] NOT NULL,
	[LevelVersionCode] [int] NOT NULL,
	[XPLevelFactor] [int] NOT NULL,
	[PollingIntervalTimeInSeconds] [int] NOT NULL,
 CONSTRAINT [PK_ClientApplicationState] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CodeGift]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CodeGift](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](50) NOT NULL,
	[Serial] [varchar](50) NOT NULL,
	[Prize] [int] NOT NULL,
	[TotalUserCount] [int] NOT NULL,
	[TotalUserRegistered] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[ExpireDate] [datetime] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_CodeGift] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ContactUs]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactUs](
	[ID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Message] [nvarchar](400) NOT NULL,
	[Type] [int] NOT NULL,
	[AdminResponse] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ContactUs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GameConfig]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameConfig](
	[ID] [int] NOT NULL,
	[TotalNumberOfQuestions] [int] NOT NULL,
	[PeopleQuestionsPercent] [int] NOT NULL,
	[FunQuestionsPercent] [int] NOT NULL,
	[DefaultUserCoinAmount] [int] NOT NULL,
	[DefaultUserLevelNumber] [int] NOT NULL,
	[DefaultUserLevelProgress] [int] NOT NULL,
	[MaxReportCount] [int] NOT NULL,
 CONSTRAINT [PK_QuestionSelectorConfig] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HashTag]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HashTag](
	[ID] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HashTag] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Level]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Level](
	[LevelNumber] [int] NOT NULL,
	[CoinPrize] [int] NOT NULL,
	[ScoreCeil] [int] NOT NULL,
	[QuestID] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Level] PRIMARY KEY CLUSTERED 
(
	[LevelNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MarketInfo]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MarketInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MarketName] [nvarchar](50) NOT NULL,
	[MarketKey] [int] NOT NULL,
	[AppPackageName] [varchar](100) NOT NULL,
	[PaymentVerificationLink] [varchar](200) NOT NULL,
	[LinkToAuthorize] [varchar](100) NULL,
	[ClientID] [varchar](100) NULL,
	[ClientSecret] [varchar](100) NULL,
	[AccessToken] [varchar](100) NULL,
	[RefreshToken] [varchar](100) NULL,
	[RedirectURI] [varchar](100) NULL,
	[ExpireAt] [datetime] NULL,
	[NeedsTokenVerification] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[Code] [varchar](100) NOT NULL,
 CONSTRAINT [PK_MarketInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NotificationSystemConfiguration]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NotificationSystemConfiguration](
	[ID] [int] NOT NULL,
	[NotificationName] [varchar](50) NOT NULL,
	[NotificationURL] [varchar](100) NOT NULL,
	[NotificationKey] [varchar](50) NOT NULL,
	[NotificationAppID] [varchar](50) NOT NULL,
	[FriendRequest_Title] [nvarchar](500) NOT NULL,
	[SentRequest_Title] [nvarchar](500) NOT NULL,
	[InboxRequest_Title] [nvarchar](500) NOT NULL,
	[FriendResponse_Title] [nvarchar](500) NOT NULL,
	[FriendRequest_Description] [nvarchar](500) NOT NULL,
	[SentRequest_Description] [nvarchar](500) NOT NULL,
	[InboxRequest_Description] [nvarchar](500) NOT NULL,
	[FriendResponse_Description] [nvarchar](500) NOT NULL,
	[FriendRequest_Image] [nvarchar](500) NOT NULL,
	[SentRequest_Image] [nvarchar](500) NOT NULL,
	[InboxRequest_Image] [nvarchar](500) NOT NULL,
	[FriendResponse_Image] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_NotificationSystemConfiguration] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Order]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[StoreID] [int] NOT NULL,
	[ClientPrice] [int] NOT NULL,
	[ServerPrice] [int] NOT NULL,
	[PurchasedDate] [datetime] NULL,
	[PurchasedToken] [varchar](100) NOT NULL,
	[PurchaseState] [int] NULL,
	[ConsumptionState] [int] NULL,
	[IsFailed] [bit] NOT NULL,
	[ErrorCode] [varchar](50) NULL,
	[ErrorDescription] [varchar](100) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PlatformTypes]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PlatformTypes](
	[ID] [int] NOT NULL,
	[Title] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PlatformTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PriceHistory]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PriceHistory](
	[ID] [int] NOT NULL,
	[StoreID] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[InsertDate] [datetime] NOT NULL,
 CONSTRAINT [PK_PriceList] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Quest]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quest](
	[QuestNumber] [int] NOT NULL,
	[QuestTypes] [int] NOT NULL,
	[QuestTitle] [nvarchar](300) NOT NULL,
	[QuestDescription] [nvarchar](300) NOT NULL,
	[QuestWhiteIcon] [nvarchar](100) NOT NULL,
	[QuestColoredIcon] [nvarchar](100) NOT NULL,
	[QuestOffIcon] [nvarchar](100) NOT NULL,
	[ParentID] [int] NULL,
	[Mean_Score] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Quest] PRIMARY KEY CLUSTERED 
(
	[QuestNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Question]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[What_if] [nvarchar](300) NOT NULL,
	[But] [nvarchar](300) NOT NULL,
	[UserID] [int] NULL,
	[HashTagID] [int] NULL,
	[Yes_Count] [int] NOT NULL,
	[No_Count] [int] NOT NULL,
	[Like_Count] [int] NOT NULL,
	[Dislike_Count] [int] NOT NULL,
	[ActionID] [int] NULL,
	[Weight] [float] NOT NULL,
	[AnswerCount] [int] NOT NULL,
	[CommentCount] [int] NOT NULL,
	[ReportCount] [int] NOT NULL,
	[Banned] [bit] NOT NULL,
	[RemovedByCreator] [bit] NOT NULL,
	[IsPublic] [bit] NOT NULL,
	[IsOurAuthor] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QuestionAction]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QuestionAction](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ActionNumber] [int] NOT NULL,
	[Coin] [int] NOT NULL,
	[Priority] [int] NOT NULL,
	[ActionNavigationNumber] [int] NULL,
	[MarketPackageName] [varchar](100) NULL,
	[MarketIntentString] [varchar](100) NULL,
	[AppStoreUri] [varchar](100) NULL,
 CONSTRAINT [PK_QuestionAction] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QuestQuestions]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestQuestions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionID] [int] NOT NULL,
	[YesQuestNumber] [int] NOT NULL,
	[NoQuestNumber] [int] NOT NULL,
	[YesScore] [int] NOT NULL,
	[NoScore] [int] NOT NULL,
	[QuestNumber] [int] NOT NULL,
 CONSTRAINT [PK_QuestQuestions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QuestScore]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestScore](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[QuestNumber] [int] NOT NULL,
	[Score] [int] NOT NULL,
 CONSTRAINT [PK_QuestScore] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QuestTypes]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestTypes](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_QuestTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Relationship]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Relationship](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserOneID] [int] NOT NULL,
	[UserTwoID] [int] NOT NULL,
	[RelationStatus] [int] NOT NULL,
	[OperatedByID] [int] NOT NULL,
 CONSTRAINT [PK_Relationship] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RelationshipStatus]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RelationshipStatus](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_RelationshipStatus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ReportedQuestions]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportedQuestions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[ReportTypeID] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ReportedQuestions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ReportType]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_ReportType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sent]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sent](
	[GroupID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Sent] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SentGroup]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SentGroup](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GroupID] [int] NOT NULL,
	[SenderID] [int] NOT NULL,
	[RecieverID] [int] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_SentGroup] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ServerApplicationState]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ServerApplicationState](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[User_DefaultUserName] [varchar](20) NOT NULL,
	[User_DefaultUserCoin] [int] NOT NULL,
	[Question_CreateQuestionPrice] [int] NOT NULL,
	[Question_DefaultReturnAmount] [int] NOT NULL,
	[Question_NumberToSkip] [int] NOT NULL,
	[Question_NoQuestionFoundWhat] [nvarchar](100) NOT NULL,
	[Question_NoQuestionFoundBut] [nvarchar](100) NOT NULL,
	[Question_NoQuestionFoundID] [int] NOT NULL,
	[Question_ServerBurntReturnAmount] [int] NOT NULL,
	[Prize_AnswerXP] [int] NOT NULL,
	[Prize_LikeScoreAmount] [int] NOT NULL,
	[Prize_CreateNewQuestionXP] [int] NOT NULL,
	[Prize_NewQuestionAcceptedXP] [int] NOT NULL,
	[Paging_DefaultPageSize] [int] NOT NULL,
	[Leader_TopNumberToShow] [int] NOT NULL,
	[Comment_DefaultNumberAmount] [int] NOT NULL,
	[Comment_DefaultVerifyState] [bit] NOT NULL,
	[Host_WebSiteNoReplyMail] [varchar](50) NOT NULL,
	[Host_WebSiteNoReplyMailPassword] [varchar](50) NOT NULL,
	[Host_SupportMail] [varchar](50) NOT NULL,
	[Host_SupportMailPassword] [varchar](50) NOT NULL,
	[Host_SmtpServer] [varchar](20) NOT NULL,
	[HostCredentialUserName] [varchar](50) NOT NULL,
	[HostCredentialPassword] [varchar](50) NOT NULL,
	[Store_DefaultReturnAmount] [int] NOT NULL,
	[SpinWheelFortuneThreshold] [int] NOT NULL,
	[SpinWheelLoopPrice] [int] NOT NULL,
	[Prize_CreateNewQuestionScore] [int] NOT NULL,
	[Prize_NewQuestionAcceptedScore] [int] NOT NULL,
	[Prize_AnswerScoreAmount] [int] NOT NULL,
	[Friend_FriendResponsesAmount] [int] NOT NULL,
 CONSTRAINT [PK_ApplicationState] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Store]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Store](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
	[MarketID] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[SKU] [varchar](50) NOT NULL,
	[Coin] [int] NOT NULL,
	[IsAccessibleInAllStores] [bit] NOT NULL,
	[Icon] [nvarchar](150) NOT NULL,
	[RectangleColor] [varchar](10) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[DiscountAmount] [int] NOT NULL,
 CONSTRAINT [PK_Store_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tutorial]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tutorial](
	[ID] [int] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[Priority] [int] NOT NULL,
 CONSTRAINT [PK_Tutorial] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](40) NOT NULL,
	[UserTypeID] [int] NULL,
	[LevelProgress] [int] NOT NULL,
	[LevelNumber] [int] NOT NULL,
	[TotalCoin] [int] NOT NULL,
	[IsMale] [bit] NOT NULL,
	[UUID] [varchar](36) NOT NULL,
	[NotificationID] [varchar](36) NULL,
	[Platform] [int] NOT NULL,
	[APILevel] [varchar](50) NULL,
	[Device] [varchar](50) NULL,
	[Model] [varchar](50) NULL,
	[RowVersion] [timestamp] NULL,
	[IPAddress] [varchar](50) NOT NULL,
	[AvatarImagePath] [nvarchar](100) NULL,
	[Activated] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[IsVerified] [bit] NOT NULL,
	[IsBanned] [bit] NOT NULL,
	[IsEditable] [int] NOT NULL,
	[IsInfoEnable] [bit] NOT NULL,
	[RegisterDateTime] [datetime] NOT NULL,
	[ChangeInfoDate] [datetime] NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserQuestAnswers]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserQuestAnswers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[QuestNumber] [int] NOT NULL,
	[Point] [int] NOT NULL,
 CONSTRAINT [PK_UserQuestAnswers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserType]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[Description] [varchar](50) NULL,
 CONSTRAINT [PK_UserType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WatchAdProvider]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WatchAdProvider](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProviderName] [nvarchar](50) NOT NULL,
	[ProviderValidationLink] [varchar](150) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_WatchAdProvider] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WatchedAd]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WatchedAd](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[WatchAdProviderId] [int] NULL,
	[WatchAdId] [varchar](50) NOT NULL,
	[InsertDate] [datetime] NOT NULL,
 CONSTRAINT [PK_WatchedAd] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Answer] ON 

INSERT [dbo].[Answer] ([ID], [UserID], [QuestionID], [Liked], [Dislike], [YesState], [NoState], [IsReported], [CreatedDate]) VALUES (1, 6, 4, 1, 0, 1, 0, 0, CAST(0x0000A70E00000000 AS DateTime))
INSERT [dbo].[Answer] ([ID], [UserID], [QuestionID], [Liked], [Dislike], [YesState], [NoState], [IsReported], [CreatedDate]) VALUES (2, 6, 5, 1, 0, 1, 0, 0, CAST(0x0000A70E00000000 AS DateTime))
INSERT [dbo].[Answer] ([ID], [UserID], [QuestionID], [Liked], [Dislike], [YesState], [NoState], [IsReported], [CreatedDate]) VALUES (3, 6, 11, 1, 0, 1, 0, 0, CAST(0x0000A70E00000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[Answer] OFF
INSERT [dbo].[ClientApplicationState] ([ID], [ClientVersionInfo], [IsMajorVersion], [CreateQuestionPrice], [WatchAdCoin], [LevelVersionCode], [XPLevelFactor], [PollingIntervalTimeInSeconds]) VALUES (1, 504, 1, 5, 5, 0, 1, 20)
INSERT [dbo].[GameConfig] ([ID], [TotalNumberOfQuestions], [PeopleQuestionsPercent], [FunQuestionsPercent], [DefaultUserCoinAmount], [DefaultUserLevelNumber], [DefaultUserLevelProgress], [MaxReportCount]) VALUES (1, 20, 50, 50, 200, 1, 0, 10)
INSERT [dbo].[HashTag] ([ID], [Title]) VALUES (1, N'Quest')
INSERT [dbo].[HashTag] ([ID], [Title]) VALUES (2, N'Fun')
INSERT [dbo].[HashTag] ([ID], [Title]) VALUES (3, N'People')
INSERT [dbo].[Level] ([LevelNumber], [CoinPrize], [ScoreCeil], [QuestID], [CreatedDate], [UpdatedDate]) VALUES (1, 1, 30, 1, CAST(0x0000A70E00000000 AS DateTime), CAST(0x0000A70E00000000 AS DateTime))
INSERT [dbo].[Level] ([LevelNumber], [CoinPrize], [ScoreCeil], [QuestID], [CreatedDate], [UpdatedDate]) VALUES (2, 3, 30, 1, CAST(0x0000A70E00000000 AS DateTime), CAST(0x0000A70E00000000 AS DateTime))
INSERT [dbo].[Level] ([LevelNumber], [CoinPrize], [ScoreCeil], [QuestID], [CreatedDate], [UpdatedDate]) VALUES (3, 1, 30, 1, CAST(0x0000A72B00000000 AS DateTime), CAST(0x0000A72B00000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[MarketInfo] ON 

SET IDENTITY_INSERT [dbo].[MarketInfo] OFF
INSERT [dbo].[PlatformTypes] ([ID], [Title]) VALUES (0, N'Android')
INSERT [dbo].[PlatformTypes] ([ID], [Title]) VALUES (1, N'IOS')
INSERT [dbo].[Quest] ([QuestNumber], [QuestTypes], [QuestTitle], [QuestDescription], [QuestWhiteIcon], [QuestColoredIcon], [QuestOffIcon], [ParentID], [Mean_Score], [CreatedDate], [UpdateDate]) VALUES (1, 1, N'1', N'1', N'NOTHING', N'NOTHING', N'NOTHING', 5, 17, CAST(0x0000A70E00000000 AS DateTime), CAST(0x0000A70E00000000 AS DateTime))
INSERT [dbo].[Quest] ([QuestNumber], [QuestTypes], [QuestTitle], [QuestDescription], [QuestWhiteIcon], [QuestColoredIcon], [QuestOffIcon], [ParentID], [Mean_Score], [CreatedDate], [UpdateDate]) VALUES (2, 1, N'2', N'2', N'NOTHING', N'NOTHING', N'NOTHING', 5, 17, CAST(0x0000A70E00000000 AS DateTime), CAST(0x0000A70E00000000 AS DateTime))
INSERT [dbo].[Quest] ([QuestNumber], [QuestTypes], [QuestTitle], [QuestDescription], [QuestWhiteIcon], [QuestColoredIcon], [QuestOffIcon], [ParentID], [Mean_Score], [CreatedDate], [UpdateDate]) VALUES (3, 1, N'3', N'3', N'NOTHING', N'NOTHING', N'NOTHING', 5, 30, CAST(0x0000A70E00000000 AS DateTime), CAST(0x0000A70E00000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[Question] ON 

INSERT [dbo].[Question] ([ID], [What_if], [But], [UserID], [HashTagID], [Yes_Count], [No_Count], [Like_Count], [Dislike_Count], [ActionID], [Weight], [AnswerCount], [CommentCount], [ReportCount], [Banned], [RemovedByCreator], [IsPublic], [IsOurAuthor], [CreatedDate], [UpdateDate]) VALUES (1, N'هر روز یه پیتزا بهت میدادن', N'باید بدون سس میخوردی', 3, 2, 66, 17, 0, 1, 1, 75, 0, 0, 1, 0, 0, 1, 0, CAST(0x0000A6EE00AD2C08 AS DateTime), CAST(0x0000A6EE00AD2C08 AS DateTime))
INSERT [dbo].[Question] ([ID], [What_if], [But], [UserID], [HashTagID], [Yes_Count], [No_Count], [Like_Count], [Dislike_Count], [ActionID], [Weight], [AnswerCount], [CommentCount], [ReportCount], [Banned], [RemovedByCreator], [IsPublic], [IsOurAuthor], [CreatedDate], [UpdateDate]) VALUES (2, N'از هر مغازه ای که میخواستی، رایگان لباس میخریدی', N'مجبور بودی مثل سوپر من، شرتت رو رو شلوار بپوشی', 3, 2, 40, 7, 2, 0, 1, 20, 0, 0, 0, 0, 0, 1, 0, CAST(0x0000A80800AD2C08 AS DateTime), CAST(0x0000A80800AD2C08 AS DateTime))
INSERT [dbo].[Question] ([ID], [What_if], [But], [UserID], [HashTagID], [Yes_Count], [No_Count], [Like_Count], [Dislike_Count], [ActionID], [Weight], [AnswerCount], [CommentCount], [ReportCount], [Banned], [RemovedByCreator], [IsPublic], [IsOurAuthor], [CreatedDate], [UpdateDate]) VALUES (3, N'هیچوقت گرسنه ات نمیشد', N'رنگت مثل درختا سبز بود و باید روزی 1 ساعت پاهات رو تو زمین فرو میکردی', 3, 2, 38, 15, 0, 1, 1, 30, 0, 0, 0, 0, 0, 1, 0, CAST(0x0000A6F700000000 AS DateTime), CAST(0x0000A6F700000000 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Question] OFF
SET IDENTITY_INSERT [dbo].[QuestionAction] ON 

INSERT [dbo].[QuestionAction] ([ID], [Name], [ActionNumber], [Coin], [Priority], [ActionNavigationNumber], [MarketPackageName], [MarketIntentString], [AppStoreUri]) VALUES (1, N'1', 1, 1, 1, 1, N'1', N'1', N'1')
SET IDENTITY_INSERT [dbo].[QuestionAction] OFF
SET IDENTITY_INSERT [dbo].[QuestQuestions] ON 

INSERT [dbo].[QuestQuestions] ([ID], [QuestionID], [YesQuestNumber], [NoQuestNumber], [YesScore], [NoScore], [QuestNumber]) VALUES (1, 1, 5, 5, 10, 5, 1)
INSERT [dbo].[QuestQuestions] ([ID], [QuestionID], [YesQuestNumber], [NoQuestNumber], [YesScore], [NoScore], [QuestNumber]) VALUES (2, 2, 10, 15, 15, 10, 1)
SET IDENTITY_INSERT [dbo].[QuestQuestions] OFF
SET IDENTITY_INSERT [dbo].[QuestScore] ON 

INSERT [dbo].[QuestScore] ([ID], [UserID], [QuestNumber], [Score]) VALUES (1, 27, 1, 15)
INSERT [dbo].[QuestScore] ([ID], [UserID], [QuestNumber], [Score]) VALUES (2, 27, 2, 20)
INSERT [dbo].[QuestScore] ([ID], [UserID], [QuestNumber], [Score]) VALUES (3, 27, 3, 30)
SET IDENTITY_INSERT [dbo].[QuestScore] OFF
INSERT [dbo].[QuestTypes] ([ID], [Name]) VALUES (1, N'SubQuest')
INSERT [dbo].[QuestTypes] ([ID], [Name]) VALUES (2, N'Main')
INSERT [dbo].[QuestTypes] ([ID], [Name]) VALUES (3, N'Finale')
SET IDENTITY_INSERT [dbo].[Relationship] ON 

INSERT [dbo].[Relationship] ([ID], [UserOneID], [UserTwoID], [RelationStatus], [OperatedByID]) VALUES (1, 6, 29, 1, 29)
INSERT [dbo].[Relationship] ([ID], [UserOneID], [UserTwoID], [RelationStatus], [OperatedByID]) VALUES (2, 29, 1004, 1, 1004)
INSERT [dbo].[Relationship] ([ID], [UserOneID], [UserTwoID], [RelationStatus], [OperatedByID]) VALUES (3, 7, 29, 1, 29)
SET IDENTITY_INSERT [dbo].[Relationship] OFF
INSERT [dbo].[RelationshipStatus] ([ID], [Name]) VALUES (1, N'Accepted')
INSERT [dbo].[RelationshipStatus] ([ID], [Name]) VALUES (2, N'Rejected')
INSERT [dbo].[RelationshipStatus] ([ID], [Name]) VALUES (3, N'Pending')
SET IDENTITY_INSERT [dbo].[ReportType] ON 

INSERT [dbo].[ReportType] ([ID], [Name], [Description]) VALUES (1, N'خلاف شرع', N'مشکل مذهبی')
INSERT [dbo].[ReportType] ([ID], [Name], [Description]) VALUES (2, N'توهین به اقوام', N'توهین به اقوام')
INSERT [dbo].[ReportType] ([ID], [Name], [Description]) VALUES (3, N'حال به هم زن', N'چرت و پرت گویی')
SET IDENTITY_INSERT [dbo].[ReportType] OFF
SET IDENTITY_INSERT [dbo].[Sent] ON 

INSERT [dbo].[Sent] ([GroupID], [UserID], [QuestionID], [CreatedDate], [UpdatedDate]) VALUES (15, 3, 10, CAST(0x0000A6EE00000000 AS DateTime), CAST(0x0000A70E00000000 AS DateTime))
INSERT [dbo].[Sent] ([GroupID], [UserID], [QuestionID], [CreatedDate], [UpdatedDate]) VALUES (16, 6, 10, CAST(0x0000A80900000000 AS DateTime), CAST(0x0000A80900000000 AS DateTime))
INSERT [dbo].[Sent] ([GroupID], [UserID], [QuestionID], [CreatedDate], [UpdatedDate]) VALUES (17, 3, 10, CAST(0x0000A80900000000 AS DateTime), CAST(0x0000A80900000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[Sent] OFF
SET IDENTITY_INSERT [dbo].[SentGroup] ON 

INSERT [dbo].[SentGroup] ([ID], [GroupID], [SenderID], [RecieverID], [QuestionID], [CreatedDate], [UpdatedDate]) VALUES (21, 15, 3, 6, 10, CAST(0x0000A80800000000 AS DateTime), CAST(0x0000A80800000000 AS DateTime))
INSERT [dbo].[SentGroup] ([ID], [GroupID], [SenderID], [RecieverID], [QuestionID], [CreatedDate], [UpdatedDate]) VALUES (23, 15, 3, 11, 10, CAST(0x0000A80800000000 AS DateTime), CAST(0x0000A80800000000 AS DateTime))
INSERT [dbo].[SentGroup] ([ID], [GroupID], [SenderID], [RecieverID], [QuestionID], [CreatedDate], [UpdatedDate]) VALUES (24, 15, 3, 12, 10, CAST(0x0000A80800000000 AS DateTime), CAST(0x0000A80800000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[SentGroup] OFF
SET IDENTITY_INSERT [dbo].[ServerApplicationState] ON 

SET IDENTITY_INSERT [dbo].[ServerApplicationState] OFF
SET IDENTITY_INSERT [dbo].[Store] ON 

INSERT [dbo].[Store] ([ID], [Name], [Description], [MarketID], [Price], [SKU], [Coin], [IsAccessibleInAllStores], [Icon], [RectangleColor], [CreatedDate], [UpdatedDate], [DiscountAmount]) VALUES (2, N'1000 سکه', N'1000 تومنی', 2, 999, N'seke1000', 1000, 0, N'images/coin/coin1.png', N'#c33d3d', CAST(0x0000A6EF00000000 AS DateTime), CAST(0x0000A6EF00000000 AS DateTime), 0)
INSERT [dbo].[Store] ([ID], [Name], [Description], [MarketID], [Price], [SKU], [Coin], [IsAccessibleInAllStores], [Icon], [RectangleColor], [CreatedDate], [UpdatedDate], [DiscountAmount]) VALUES (4, N'2000 سکه', N'2000 تومنی', 2, 1899, N'seke2000', 2000, 0, N'images/coin/coin2.png', N'#c33d3d', CAST(0x0000A6EE00000000 AS DateTime), CAST(0x0000A6EE00000000 AS DateTime), 5)
INSERT [dbo].[Store] ([ID], [Name], [Description], [MarketID], [Price], [SKU], [Coin], [IsAccessibleInAllStores], [Icon], [RectangleColor], [CreatedDate], [UpdatedDate], [DiscountAmount]) VALUES (5, N'5000 سکه', N'5000 تومنی', 2, 4499, N'seke5000', 5000, 0, N'images/coin/coin3.png', N'#c33d3d', CAST(0x0000A6EE00000000 AS DateTime), CAST(0x0000A6EE00000000 AS DateTime), 10)
SET IDENTITY_INSERT [dbo].[Store] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [UserName], [UserTypeID], [LevelProgress], [LevelNumber], [TotalCoin], [IsMale], [UUID], [NotificationID], [Platform], [APILevel], [Device], [Model], [IPAddress], [AvatarImagePath], [Activated]) VALUES (3, N'Jeb', NULL, 0, 1, 10, 0, N'c0448e50-f170-4219-8c90-0fa86cc13c55', N'00000000-0000-0000-0000-000000000000', 0, N'1212122', N'1212122', N'1212122', N'5.116.230.5', NULL, 1)
INSERT [dbo].[User] ([ID], [UserName], [UserTypeID], [LevelProgress], [LevelNumber], [TotalCoin], [IsMale], [UUID], [NotificationID], [Platform], [APILevel], [Device], [Model], [IPAddress], [AvatarImagePath], [Activated]) VALUES (6, N'keyvanMozz', NULL, 0, 1, 10, 1, N'77699875-dd1f-465b-87d2-74b79c292aab', N'77699875-dd1f-465b-87d2-74b79c292aab', 0, N'19', N'vbox86p', N'android_4.4.4', N'94.182.197.50', NULL, 1)
INSERT [dbo].[User] ([ID], [UserName], [UserTypeID], [LevelProgress], [LevelNumber], [TotalCoin], [IsMale], [UUID], [NotificationID], [Platform], [APILevel], [Device], [Model], [IPAddress], [AvatarImagePath], [Activated]) VALUES (7, N'Javad', NULL, 0, 1, 10, 1, N'1b9e4849-de9e-4a40-86b5-e0b39eab0c50', N'9745bd46-df22-4ff7-b113-4cad9483c66b', 0, N'19', N'hwG730-U00', N'HUAWEI G730-U00', N'94.182.197.50', NULL, 1)
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[UserInfo] ON 

INSERT [dbo].[UserInfo] ([ID], [UserID], [Email], [Password], [IsVerified], [IsBanned], [IsEditable], [IsInfoEnable], [RegisterDateTime], [ChangeInfoDate]) VALUES (1, 3, NULL, NULL, 0, 0, 0, 0, CAST(0x0000A86300ED822A AS DateTime), NULL)
INSERT [dbo].[UserInfo] ([ID], [UserID], [Email], [Password], [IsVerified], [IsBanned], [IsEditable], [IsInfoEnable], [RegisterDateTime], [ChangeInfoDate]) VALUES (2, 6, N'kj@kj.com', N'123', 1, 1, 1, 1, CAST(0x0000A86400000000 AS DateTime), NULL)
INSERT [dbo].[UserInfo] ([ID], [UserID], [Email], [Password], [IsVerified], [IsBanned], [IsEditable], [IsInfoEnable], [RegisterDateTime], [ChangeInfoDate]) VALUES (3, 6, NULL, NULL, 0, 0, 0, 0, CAST(0x0000A86301543D7A AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[UserInfo] OFF
/****** Object:  Index [UniqueAnswer]    Script Date: 2/17/2018 10:17:15 PM ******/
ALTER TABLE [dbo].[Answer] ADD  CONSTRAINT [UniqueAnswer] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UniqueUserQuest]    Script Date: 2/17/2018 10:17:15 PM ******/
ALTER TABLE [dbo].[QuestScore] ADD  CONSTRAINT [UniqueUserQuest] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[QuestNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Answer] ADD  CONSTRAINT [DF_Answer_NoState]  DEFAULT ((0)) FOR [NoState]
GO
ALTER TABLE [dbo].[Answer] ADD  CONSTRAINT [DF_Answer_IsReported]  DEFAULT ((0)) FOR [IsReported]
GO
ALTER TABLE [dbo].[ClientApplicationState] ADD  CONSTRAINT [DF_ClientApplicationState_VersionInfo]  DEFAULT ((1)) FOR [ClientVersionInfo]
GO
ALTER TABLE [dbo].[ClientApplicationState] ADD  CONSTRAINT [DF_ClientApplicationState_IsMajorVersion]  DEFAULT ((0)) FOR [IsMajorVersion]
GO
ALTER TABLE [dbo].[ClientApplicationState] ADD  CONSTRAINT [DF_ClientApplicationState_CreateQuestionPrice]  DEFAULT ((5)) FOR [CreateQuestionPrice]
GO
ALTER TABLE [dbo].[ClientApplicationState] ADD  CONSTRAINT [DF_ClientApplicationState_WatchAdCoin]  DEFAULT ((5)) FOR [WatchAdCoin]
GO
ALTER TABLE [dbo].[ClientApplicationState] ADD  CONSTRAINT [DF_ClientApplicationState_LevelVersionCode]  DEFAULT ((0)) FOR [LevelVersionCode]
GO
ALTER TABLE [dbo].[ClientApplicationState] ADD  CONSTRAINT [DF_ClientApplicationState_XPLevelFactor]  DEFAULT ((1)) FOR [XPLevelFactor]
GO
ALTER TABLE [dbo].[ClientApplicationState] ADD  CONSTRAINT [DF_ClientApplicationState_PullingIntervalTimeInSeconds]  DEFAULT ((20)) FOR [PollingIntervalTimeInSeconds]
GO
ALTER TABLE [dbo].[CodeGift] ADD  CONSTRAINT [DF_CodeGift_TotalUserCount]  DEFAULT ((0)) FOR [TotalUserCount]
GO
ALTER TABLE [dbo].[CodeGift] ADD  CONSTRAINT [DF_CodeGift_TotalUserRegistered]  DEFAULT ((0)) FOR [TotalUserRegistered]
GO
ALTER TABLE [dbo].[GameConfig] ADD  CONSTRAINT [DF_GameConfig_DefaultUserCoinAmount]  DEFAULT ((200)) FOR [DefaultUserCoinAmount]
GO
ALTER TABLE [dbo].[GameConfig] ADD  CONSTRAINT [DF_GameConfig_DefaultUserLevelNumber]  DEFAULT ((1)) FOR [DefaultUserLevelNumber]
GO
ALTER TABLE [dbo].[GameConfig] ADD  CONSTRAINT [DF_GameConfig_DefaultUserLevelProgress]  DEFAULT ((0)) FOR [DefaultUserLevelProgress]
GO
ALTER TABLE [dbo].[GameConfig] ADD  CONSTRAINT [DF_GameConfig_MaxReportCount]  DEFAULT ((10)) FOR [MaxReportCount]
GO
ALTER TABLE [dbo].[MarketInfo] ADD  CONSTRAINT [DF_MarketInfo_NeedsTokenRequest]  DEFAULT ((1)) FOR [NeedsTokenVerification]
GO
ALTER TABLE [dbo].[MarketInfo] ADD  CONSTRAINT [DF_MarketInfo_Code]  DEFAULT ('CODE') FOR [Code]
GO
ALTER TABLE [dbo].[NotificationSystemConfiguration] ADD  CONSTRAINT [DF_NotificationSystemConfiguration_FriendResponseTitle]  DEFAULT (N'NOTHING') FOR [FriendResponse_Title]
GO
ALTER TABLE [dbo].[NotificationSystemConfiguration] ADD  CONSTRAINT [DF_NotificationSystemConfiguration_FriendRequest_Description]  DEFAULT (N'NOTHING') FOR [FriendRequest_Description]
GO
ALTER TABLE [dbo].[NotificationSystemConfiguration] ADD  CONSTRAINT [DF_NotificationSystemConfiguration_SentRequest_Description]  DEFAULT (N'NOTHING') FOR [SentRequest_Description]
GO
ALTER TABLE [dbo].[NotificationSystemConfiguration] ADD  CONSTRAINT [DF_NotificationSystemConfiguration_InboxRequest_Description]  DEFAULT (N'NOTHING') FOR [InboxRequest_Description]
GO
ALTER TABLE [dbo].[NotificationSystemConfiguration] ADD  CONSTRAINT [DF_NotificationSystemConfiguration_FriendResponse_Description]  DEFAULT (N'NOTHING') FOR [FriendResponse_Description]
GO
ALTER TABLE [dbo].[NotificationSystemConfiguration] ADD  CONSTRAINT [DF_NotificationSystemConfiguration_FriendRequest_Image]  DEFAULT (N'NOTHING') FOR [FriendRequest_Image]
GO
ALTER TABLE [dbo].[NotificationSystemConfiguration] ADD  CONSTRAINT [DF_NotificationSystemConfiguration_SentRequest_Image]  DEFAULT (N'NOTHING') FOR [SentRequest_Image]
GO
ALTER TABLE [dbo].[NotificationSystemConfiguration] ADD  CONSTRAINT [DF_NotificationSystemConfiguration_InboxRequest_Image]  DEFAULT (N'NOTHING') FOR [InboxRequest_Image]
GO
ALTER TABLE [dbo].[NotificationSystemConfiguration] ADD  CONSTRAINT [DF_NotificationSystemConfiguration_FriendResponse_Image]  DEFAULT (N'NOTHING') FOR [FriendResponse_Image]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_IsFailed]  DEFAULT ((0)) FOR [IsFailed]
GO
ALTER TABLE [dbo].[Quest] ADD  CONSTRAINT [DF_Quest_QuestIcon]  DEFAULT (N'NOTHING') FOR [QuestWhiteIcon]
GO
ALTER TABLE [dbo].[Quest] ADD  CONSTRAINT [DF_Quest_QuestColoredIcon]  DEFAULT (N'NOTHING') FOR [QuestColoredIcon]
GO
ALTER TABLE [dbo].[Quest] ADD  CONSTRAINT [DF_Quest_QuestOffIcon]  DEFAULT (N'NOTHING') FOR [QuestOffIcon]
GO
ALTER TABLE [dbo].[Question] ADD  CONSTRAINT [DF_Question_Yes_Count]  DEFAULT ((0)) FOR [Yes_Count]
GO
ALTER TABLE [dbo].[Question] ADD  CONSTRAINT [DF_Question_No_Count]  DEFAULT ((0)) FOR [No_Count]
GO
ALTER TABLE [dbo].[Question] ADD  CONSTRAINT [DF_Question_Like_Count]  DEFAULT ((0)) FOR [Like_Count]
GO
ALTER TABLE [dbo].[Question] ADD  CONSTRAINT [DF_Question_Dislike_Count]  DEFAULT ((0)) FOR [Dislike_Count]
GO
ALTER TABLE [dbo].[Question] ADD  CONSTRAINT [DF_Question_Weight]  DEFAULT ((0)) FOR [Weight]
GO
ALTER TABLE [dbo].[Question] ADD  CONSTRAINT [DF_Question_AnswerCount]  DEFAULT ((0)) FOR [AnswerCount]
GO
ALTER TABLE [dbo].[Question] ADD  CONSTRAINT [DF_Question_CommentCount]  DEFAULT ((0)) FOR [CommentCount]
GO
ALTER TABLE [dbo].[Question] ADD  CONSTRAINT [DF_Question_ReportCount]  DEFAULT ((0)) FOR [ReportCount]
GO
ALTER TABLE [dbo].[Question] ADD  CONSTRAINT [DF_Question_Banned]  DEFAULT ((0)) FOR [Banned]
GO
ALTER TABLE [dbo].[Question] ADD  CONSTRAINT [DF_Question_RemovedByCreator]  DEFAULT ((0)) FOR [RemovedByCreator]
GO
ALTER TABLE [dbo].[Question] ADD  CONSTRAINT [DF_Question_IsPublic]  DEFAULT ((0)) FOR [IsPublic]
GO
ALTER TABLE [dbo].[Question] ADD  CONSTRAINT [DF_Question_IsOurAuthor]  DEFAULT ((0)) FOR [IsOurAuthor]
GO
ALTER TABLE [dbo].[ServerApplicationState] ADD  CONSTRAINT [DF_ApplicationState_User_DefaultUserName]  DEFAULT ('No-Name') FOR [User_DefaultUserName]
GO
ALTER TABLE [dbo].[ServerApplicationState] ADD  CONSTRAINT [DF_ApplicationState_User_DefaultUserCoin]  DEFAULT ((1)) FOR [User_DefaultUserCoin]
GO
ALTER TABLE [dbo].[ServerApplicationState] ADD  CONSTRAINT [DF_ApplicationState_Question_CreateQuestionPrice]  DEFAULT ((1)) FOR [Question_CreateQuestionPrice]
GO
ALTER TABLE [dbo].[ServerApplicationState] ADD  CONSTRAINT [DF_ApplicationState_Question_DefaultReturnAmount]  DEFAULT ((1)) FOR [Question_DefaultReturnAmount]
GO
ALTER TABLE [dbo].[ServerApplicationState] ADD  CONSTRAINT [DF_ApplicationState_Question_NumberToSkip]  DEFAULT ((1)) FOR [Question_NumberToSkip]
GO
ALTER TABLE [dbo].[ServerApplicationState] ADD  CONSTRAINT [DF_ApplicationState_Question_NoQuestionFoundWhat]  DEFAULT (N'داداش خوردی سرور ما رو') FOR [Question_NoQuestionFoundWhat]
GO
ALTER TABLE [dbo].[ServerApplicationState] ADD  CONSTRAINT [DF_ApplicationState_Question_NoQuestionFoundBut]  DEFAULT (N'سرورمون آب شد') FOR [Question_NoQuestionFoundBut]
GO
ALTER TABLE [dbo].[ServerApplicationState] ADD  CONSTRAINT [DF_ApplicationState_Question_NoQuestionFoundID]  DEFAULT ((-1)) FOR [Question_NoQuestionFoundID]
GO
ALTER TABLE [dbo].[ServerApplicationState] ADD  CONSTRAINT [DF_ApplicationState_Question_ServerBurntReturnAmount]  DEFAULT ((1)) FOR [Question_ServerBurntReturnAmount]
GO
ALTER TABLE [dbo].[ServerApplicationState] ADD  CONSTRAINT [DF_ApplicationState_AnswerPrize]  DEFAULT ((1)) FOR [Prize_AnswerXP]
GO
ALTER TABLE [dbo].[ServerApplicationState] ADD  CONSTRAINT [DF_ApplicationState_LikePrize]  DEFAULT ((1)) FOR [Prize_LikeScoreAmount]
GO
ALTER TABLE [dbo].[ServerApplicationState] ADD  CONSTRAINT [DF_ApplicationState_CreateNewQuestionPrize]  DEFAULT ((1)) FOR [Prize_CreateNewQuestionXP]
GO
ALTER TABLE [dbo].[ServerApplicationState] ADD  CONSTRAINT [DF_ApplicationState_NewQuestionAcceptedPrize]  DEFAULT ((1)) FOR [Prize_NewQuestionAcceptedXP]
GO
ALTER TABLE [dbo].[ServerApplicationState] ADD  CONSTRAINT [DF_ApplicationState_Paging_DefaultPageSize]  DEFAULT ((1)) FOR [Paging_DefaultPageSize]
GO
ALTER TABLE [dbo].[ServerApplicationState] ADD  CONSTRAINT [DF_ApplicationState_Leader_TopNumberToShow]  DEFAULT ((1)) FOR [Leader_TopNumberToShow]
GO
ALTER TABLE [dbo].[ServerApplicationState] ADD  CONSTRAINT [DF_ApplicationState_Comment_DefaultNumberAmount]  DEFAULT ((1)) FOR [Comment_DefaultNumberAmount]
GO
ALTER TABLE [dbo].[ServerApplicationState] ADD  CONSTRAINT [DF_ApplicationState_Comment_DefaultVerifyState]  DEFAULT ((1)) FOR [Comment_DefaultVerifyState]
GO
ALTER TABLE [dbo].[ServerApplicationState] ADD  CONSTRAINT [DF_ApplicationState_Host_WebSiteNoReplyMail]  DEFAULT ('noreply@flapp.ir') FOR [Host_WebSiteNoReplyMail]
GO
ALTER TABLE [dbo].[ServerApplicationState] ADD  CONSTRAINT [DF_ApplicationState_Host_WebSiteNoReplyMailPassword]  DEFAULT ((123123123)) FOR [Host_WebSiteNoReplyMailPassword]
GO
ALTER TABLE [dbo].[ServerApplicationState] ADD  CONSTRAINT [DF_ApplicationState_Host_SupportMail]  DEFAULT ('support@flapp.ir') FOR [Host_SupportMail]
GO
ALTER TABLE [dbo].[ServerApplicationState] ADD  CONSTRAINT [DF_ApplicationState_Host_SupportMailPassword]  DEFAULT ((123123)) FOR [Host_SupportMailPassword]
GO
ALTER TABLE [dbo].[ServerApplicationState] ADD  CONSTRAINT [DF_ApplicationState_Host_SmtpServer]  DEFAULT ('31.25.89.211') FOR [Host_SmtpServer]
GO
ALTER TABLE [dbo].[ServerApplicationState] ADD  CONSTRAINT [DF_ApplicationState_HostCredentialUserName]  DEFAULT ('Support') FOR [HostCredentialUserName]
GO
ALTER TABLE [dbo].[ServerApplicationState] ADD  CONSTRAINT [DF_ApplicationState_HostCredentialPassword]  DEFAULT ((0)) FOR [HostCredentialPassword]
GO
ALTER TABLE [dbo].[ServerApplicationState] ADD  CONSTRAINT [DF_ApplicationState_Store_DefaultReturnAmount]  DEFAULT ((1)) FOR [Store_DefaultReturnAmount]
GO
ALTER TABLE [dbo].[ServerApplicationState] ADD  CONSTRAINT [DF_ApplicationState_SpinWheelFortuneThreshold]  DEFAULT ((20)) FOR [SpinWheelFortuneThreshold]
GO
ALTER TABLE [dbo].[ServerApplicationState] ADD  CONSTRAINT [DF_ApplicationState_SpinWheelPrice]  DEFAULT ((5)) FOR [SpinWheelLoopPrice]
GO
ALTER TABLE [dbo].[ServerApplicationState] ADD  CONSTRAINT [DF_ApplicationState_Prize_CreateNewQuestionScore]  DEFAULT ((1)) FOR [Prize_CreateNewQuestionScore]
GO
ALTER TABLE [dbo].[ServerApplicationState] ADD  CONSTRAINT [DF_ApplicationState_Prize_NewQuestionAcceptedScore]  DEFAULT ((1)) FOR [Prize_NewQuestionAcceptedScore]
GO
ALTER TABLE [dbo].[ServerApplicationState] ADD  CONSTRAINT [DF_ApplicationState_Prize_AnswerScoreAmount]  DEFAULT ((1)) FOR [Prize_AnswerScoreAmount]
GO
ALTER TABLE [dbo].[ServerApplicationState] ADD  CONSTRAINT [DF_ServerApplicationState_Friend_FriendResponsesAmount]  DEFAULT ((50)) FOR [Friend_FriendResponsesAmount]
GO
ALTER TABLE [dbo].[Store] ADD  CONSTRAINT [DF_Store_MarketID]  DEFAULT ((1)) FOR [MarketID]
GO
ALTER TABLE [dbo].[Store] ADD  CONSTRAINT [DF_Store_SKU]  DEFAULT ('SKU_1000_Toman') FOR [SKU]
GO
ALTER TABLE [dbo].[Store] ADD  CONSTRAINT [DF_Store_IsAccessibleInAllStore]  DEFAULT ((0)) FOR [IsAccessibleInAllStores]
GO
ALTER TABLE [dbo].[Store] ADD  CONSTRAINT [DF_Store_IsInOff]  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_IsMale]  DEFAULT ((0)) FOR [IsMale]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Platform]  DEFAULT ((0)) FOR [Platform]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_IPAddress]  DEFAULT ('127.0.0.1') FOR [IPAddress]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Activated]  DEFAULT ((1)) FOR [Activated]
GO
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF_UserInfo_Password]  DEFAULT (N'Password') FOR [Password]
GO
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF_UserInfo_IsVerified]  DEFAULT ((0)) FOR [IsVerified]
GO
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF_UserInfo_IsBanned]  DEFAULT ((0)) FOR [IsBanned]
GO
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF_UserInfo_IsEdited]  DEFAULT ((2)) FOR [IsEditable]
GO
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF_UserInfo_IsEnable]  DEFAULT ((1)) FOR [IsInfoEnable]
GO
ALTER TABLE [dbo].[WatchAdProvider] ADD  CONSTRAINT [DF_WatchAdProvider_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AchievedCodeGift]  WITH CHECK ADD  CONSTRAINT [FK_AchievedCodeGift_CodeGift] FOREIGN KEY([CodeGiftID])
REFERENCES [dbo].[CodeGift] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AchievedCodeGift] CHECK CONSTRAINT [FK_AchievedCodeGift_CodeGift]
GO
ALTER TABLE [dbo].[AchievedCodeGift]  WITH CHECK ADD  CONSTRAINT [FK_AchievedCodeGift_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AchievedCodeGift] CHECK CONSTRAINT [FK_AchievedCodeGift_User]
GO
ALTER TABLE [dbo].[Answer]  WITH CHECK ADD  CONSTRAINT [FK_Answer_Question] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Question] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Answer] CHECK CONSTRAINT [FK_Answer_Question]
GO
ALTER TABLE [dbo].[Answer]  WITH CHECK ADD  CONSTRAINT [FK_Answer_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Answer] CHECK CONSTRAINT [FK_Answer_User]
GO
ALTER TABLE [dbo].[ContactUs]  WITH CHECK ADD  CONSTRAINT [FK_ContactUs_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ContactUs] CHECK CONSTRAINT [FK_ContactUs_User]
GO
ALTER TABLE [dbo].[Level]  WITH CHECK ADD  CONSTRAINT [FK_Level_Quest] FOREIGN KEY([QuestID])
REFERENCES [dbo].[Quest] ([QuestNumber])
GO
ALTER TABLE [dbo].[Level] CHECK CONSTRAINT [FK_Level_Quest]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Store] FOREIGN KEY([StoreID])
REFERENCES [dbo].[Store] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Store]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[PriceHistory]  WITH CHECK ADD  CONSTRAINT [FK_PriceList_Store] FOREIGN KEY([StoreID])
REFERENCES [dbo].[Store] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PriceHistory] CHECK CONSTRAINT [FK_PriceList_Store]
GO
ALTER TABLE [dbo].[Quest]  WITH CHECK ADD  CONSTRAINT [FK_Quest_Quest] FOREIGN KEY([ParentID])
REFERENCES [dbo].[Quest] ([QuestNumber])
GO
ALTER TABLE [dbo].[Quest] CHECK CONSTRAINT [FK_Quest_Quest]
GO
ALTER TABLE [dbo].[Quest]  WITH CHECK ADD  CONSTRAINT [FK_Quest_QuestTypes] FOREIGN KEY([QuestTypes])
REFERENCES [dbo].[QuestTypes] ([ID])
GO
ALTER TABLE [dbo].[Quest] CHECK CONSTRAINT [FK_Quest_QuestTypes]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_HashTag] FOREIGN KEY([HashTagID])
REFERENCES [dbo].[HashTag] ([ID])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_Question_HashTag]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_QuestionAction] FOREIGN KEY([ActionID])
REFERENCES [dbo].[QuestionAction] ([ID])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_Question_QuestionAction]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_Question_User]
GO
ALTER TABLE [dbo].[QuestQuestions]  WITH CHECK ADD  CONSTRAINT [FK_QuestQuestions_Quest] FOREIGN KEY([QuestNumber])
REFERENCES [dbo].[Quest] ([QuestNumber])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuestQuestions] CHECK CONSTRAINT [FK_QuestQuestions_Quest]
GO
ALTER TABLE [dbo].[QuestQuestions]  WITH CHECK ADD  CONSTRAINT [FK_QuestQuestions_Question] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Question] ([ID])
GO
ALTER TABLE [dbo].[QuestQuestions] CHECK CONSTRAINT [FK_QuestQuestions_Question]
GO
ALTER TABLE [dbo].[QuestScore]  WITH CHECK ADD  CONSTRAINT [FK_QuestScore_Quest] FOREIGN KEY([QuestNumber])
REFERENCES [dbo].[Quest] ([QuestNumber])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuestScore] CHECK CONSTRAINT [FK_QuestScore_Quest]
GO
ALTER TABLE [dbo].[QuestScore]  WITH CHECK ADD  CONSTRAINT [FK_QuestScore_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuestScore] CHECK CONSTRAINT [FK_QuestScore_User]
GO
ALTER TABLE [dbo].[Relationship]  WITH CHECK ADD  CONSTRAINT [FK_Relationship_RelationshipStatus] FOREIGN KEY([RelationStatus])
REFERENCES [dbo].[RelationshipStatus] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Relationship] CHECK CONSTRAINT [FK_Relationship_RelationshipStatus]
GO
ALTER TABLE [dbo].[Relationship]  WITH CHECK ADD  CONSTRAINT [FK_Relationship_User] FOREIGN KEY([OperatedByID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Relationship] CHECK CONSTRAINT [FK_Relationship_User]
GO
ALTER TABLE [dbo].[Relationship]  WITH CHECK ADD  CONSTRAINT [FK_Relationship_User_Two] FOREIGN KEY([UserTwoID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Relationship] CHECK CONSTRAINT [FK_Relationship_User_Two]
GO
ALTER TABLE [dbo].[Relationship]  WITH CHECK ADD  CONSTRAINT [FK_RelationshipUserOne] FOREIGN KEY([UserOneID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Relationship] CHECK CONSTRAINT [FK_RelationshipUserOne]
GO
ALTER TABLE [dbo].[ReportedQuestions]  WITH CHECK ADD  CONSTRAINT [FK_ReportedQuestions_Question] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Question] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReportedQuestions] CHECK CONSTRAINT [FK_ReportedQuestions_Question]
GO
ALTER TABLE [dbo].[ReportedQuestions]  WITH CHECK ADD  CONSTRAINT [FK_ReportedQuestions_ReportType] FOREIGN KEY([ReportTypeID])
REFERENCES [dbo].[ReportType] ([ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ReportedQuestions] CHECK CONSTRAINT [FK_ReportedQuestions_ReportType]
GO
ALTER TABLE [dbo].[ReportedQuestions]  WITH CHECK ADD  CONSTRAINT [FK_ReportedQuestions_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReportedQuestions] CHECK CONSTRAINT [FK_ReportedQuestions_User]
GO
ALTER TABLE [dbo].[Sent]  WITH CHECK ADD  CONSTRAINT [FK_Sent_Question] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Question] ([ID])
GO
ALTER TABLE [dbo].[Sent] CHECK CONSTRAINT [FK_Sent_Question]
GO
ALTER TABLE [dbo].[Sent]  WITH CHECK ADD  CONSTRAINT [FK_Sent_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sent] CHECK CONSTRAINT [FK_Sent_User]
GO
ALTER TABLE [dbo].[SentGroup]  WITH CHECK ADD  CONSTRAINT [FK_SentGroup_Sent] FOREIGN KEY([GroupID])
REFERENCES [dbo].[Sent] ([GroupID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SentGroup] CHECK CONSTRAINT [FK_SentGroup_Sent]
GO
ALTER TABLE [dbo].[SentGroup]  WITH CHECK ADD  CONSTRAINT [FK_SentGroup_User] FOREIGN KEY([RecieverID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[SentGroup] CHECK CONSTRAINT [FK_SentGroup_User]
GO
ALTER TABLE [dbo].[SentGroup]  WITH CHECK ADD  CONSTRAINT [FK_SentGroup_UserSender] FOREIGN KEY([SenderID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[SentGroup] CHECK CONSTRAINT [FK_SentGroup_UserSender]
GO
ALTER TABLE [dbo].[Store]  WITH CHECK ADD  CONSTRAINT [FK_Store_MarketInfo] FOREIGN KEY([MarketID])
REFERENCES [dbo].[MarketInfo] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Store] CHECK CONSTRAINT [FK_Store_MarketInfo]
GO
ALTER TABLE [dbo].[Tutorial]  WITH CHECK ADD  CONSTRAINT [FK_Tutorial_Question] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Question] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tutorial] CHECK CONSTRAINT [FK_Tutorial_Question]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Level] FOREIGN KEY([LevelNumber])
REFERENCES [dbo].[Level] ([LevelNumber])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Level]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_PlatformTypes] FOREIGN KEY([Platform])
REFERENCES [dbo].[PlatformTypes] ([ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_PlatformTypes]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_UserType] FOREIGN KEY([UserTypeID])
REFERENCES [dbo].[UserType] ([ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_UserType]
GO
ALTER TABLE [dbo].[UserInfo]  WITH CHECK ADD  CONSTRAINT [FK_UserInfo_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserInfo] CHECK CONSTRAINT [FK_UserInfo_User]
GO
ALTER TABLE [dbo].[UserQuestAnswers]  WITH CHECK ADD  CONSTRAINT [FK_UserQuestAnswers_Quest] FOREIGN KEY([QuestNumber])
REFERENCES [dbo].[Quest] ([QuestNumber])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserQuestAnswers] CHECK CONSTRAINT [FK_UserQuestAnswers_Quest]
GO
ALTER TABLE [dbo].[UserQuestAnswers]  WITH CHECK ADD  CONSTRAINT [FK_UserQuestAnswers_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserQuestAnswers] CHECK CONSTRAINT [FK_UserQuestAnswers_User]
GO
ALTER TABLE [dbo].[WatchedAd]  WITH CHECK ADD  CONSTRAINT [FK_WatchedAd_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WatchedAd] CHECK CONSTRAINT [FK_WatchedAd_User]
GO
ALTER TABLE [dbo].[WatchedAd]  WITH CHECK ADD  CONSTRAINT [FK_WatchedAd_WatchAdProvider] FOREIGN KEY([WatchAdProviderId])
REFERENCES [dbo].[WatchAdProvider] ([ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[WatchedAd] CHECK CONSTRAINT [FK_WatchedAd_WatchAdProvider]
GO
/****** Object:  Trigger [dbo].[achievedCodeGift_afterInsert_update_number_of_users_achieved]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[achievedCodeGift_afterInsert_update_number_of_users_achieved]
   ON  [dbo].[AchievedCodeGift]
   after Delete , insert
AS 
BEGIN
  
	Update 
	[dbo].[CodeGift]
	Set 
		TotalUserRegistered = TotalUserRegistered + 
		(
		Select COUNT(*)
		From inserted I 
		Where I.CodeGiftID = [dbo].[CodeGift].ID
		)
	Where 
		ID IN (Select CodeGiftID from inserted)


	Update 
	[dbo].[CodeGift]
	Set 
		TotalUserRegistered = TotalUserRegistered - 
		(
		Select COUNT(*)
		From deleted I 
		Where I.CodeGiftID = [dbo].[CodeGift].ID
		)
	Where 
		ID IN (Select CodeGiftID from deleted)
END





GO
/****** Object:  Trigger [dbo].[reported_questions_after_insert_report_count]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[reported_questions_after_insert_report_count]
   ON  [dbo].[ReportedQuestions]
   after Delete , insert
AS 
BEGIN
  
	Update 
	[dbo].[Question]
	Set 
		ReportCount = ReportCount + 
		(
		Select COUNT(*)
		From inserted I 
		Where I.QuestionID = [dbo].[Question].ID
		)
	Where 
		ID IN (Select QuestionID from inserted)


	Update 
	[dbo].[Question]
	Set 
		ReportCount = ReportCount - 
		(
		Select COUNT(*)
		From deleted I 
		Where I.QuestionID = [dbo].[Question].ID
		)
	Where 
		ID IN (Select QuestionID from deleted)
END
GO
/****** Object:  Trigger [dbo].[after_update_quest_score_of_player]    Script Date: 2/17/2018 10:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--— =============================================
--— Author:    <Jeb,JavadBorhani>
--— Create date: <Now I mean Now>
--— Description:  <trigger to update table>
--— =============================================
CREATE TRIGGER [dbo].[after_update_quest_score_of_player]
   ON  [dbo].[UserQuestAnswers]
   after Delete , insert
AS 
BEGIN
  
	Update 
	[dbo].[QuestScore]
	Set 
		Score = Score + 
		(
		Select SUM(Point)
		From inserted I 
		Where I.UserID = [dbo].[QuestScore].UserID And I.QuestNumber = [dbo].[QuestScore].QuestNumber
		)
	Where 
			UserID IN (Select UserID from inserted)
		And 
			QuestNumber IN (Select QuestNumber from inserted)

	Update 
	[dbo].[QuestScore]
	Set 
		Score = Score -
		(
		Select SUM(Point)
		From deleted I 
		Where I.UserID = [dbo].[QuestScore].UserID And I.QuestNumber = [dbo].[QuestScore].QuestNumber
		)
	Where 
			UserID IN (Select UserID from deleted)
		And 
			QuestNumber IN (Select QuestNumber from deleted)

END

GO
