<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>103.216.60.72</MSDeployServiceURL>
    <DeployIisAppPath>chimishod.api</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>WIN-5T6M608IHNQ\Deployment</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="HangFire" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.182.22,4542;Initial Catalog=SocialHangfire;User ID=Jeb;Password=@@@Visualbasic7;Min Pool Size=0;Max Pool Size=1000;Pooling=true" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HangFire_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.182.22,4542;Initial Catalog=SocialHangfire;User ID=Jeb;Password=@@@Visualbasic7;Min Pool Size=0;Max Pool Size=1000;Pooling=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Falcon.EFCommonContext.CommonCodeFirstDbContext" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Falcon.EFCommonContext.CommonCodeFirstDbContext, Falcon.EFCommonContext" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Falcon.EFCommonContext.CommonModelFirstDbContext" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Falcon.EFCommonContext.CommonModelFirstDbContext, Falcon.EFCommonContext" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DbEntity" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Falcon.EFCommonContext.DbModel.DbEntity, Falcon.EFCommonContext" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DbEntity-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Falcon.EFCommonContext.CommonCodeFirstDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Falcon.EFCommonContext.CommonModelFirstDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HangFire-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Falcon.EFCommonContext.CommonCodeFirstDbContext" />
    <_ConnectionStringsToInsert Include="Falcon.EFCommonContext.CommonModelFirstDbContext" />
  </ItemGroup>
</Project>