<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>87.107.135.240</MSDeployServiceURL>
    <DeployIisAppPath>Chimishod.QA</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>WIN2012R2\novintech</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="HangFire" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=87.107.135.252,4542;Initial Catalog=SocialHangfireLive;User ID=Jeb;Password=@@@Visualbasic7;Min Pool Size=0;Max Pool Size=1000;Pooling=true" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HangFire_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=87.107.135.252,4542;Initial Catalog=SocialHangfireLive;User ID=Jeb;Password=@@@Visualbasic7;Min Pool Size=0;Max Pool Size=1000;Pooling=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Falcon.EFCommonContext.CommonCodeFirstDbContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Falcon.EFCommonContext.CommonCodeFirstDbContext, Falcon.EFCommonContext" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Falcon.EFCommonContext.CommonModelFirstDbContext" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Falcon.EFCommonContext.CommonModelFirstDbContext, Falcon.EFCommonContext" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DbEntity" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Falcon.EFCommonContext.DbModel.DbEntity, Falcon.EFCommonContext" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DbEntity-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Falcon.EFCommonContext.CommonCodeFirstDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Falcon.EFCommonContext.CommonModelFirstDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HangFire-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Falcon.EFCommonContext.CommonCodeFirstDbContext" />
    <_ConnectionStringsToInsert Include="Falcon.EFCommonContext.CommonModelFirstDbContext" />
  </ItemGroup>
</Project>